.see-form{
    font-size: 20px;
    font-weight: 700;

    text-align: center;
    justify-content: center;
    background-image: url(./images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    color: rgb(215, 204, 202);

    
}
.btn{
    text-decoration: none;
    color:wheat;
    padding: 10px;
    border-radius: 2px;
    background-color: rgb(239, 18, 18);
    margin-bottom: 10px;
}
.low{
    margin-top: 10px;

}
.btn2{
    text-decoration: none;
    color:wheat;
    padding: 10px;
    border-radius: 2px;
    background-color: rgb(239, 18, 18);
    margin-top: 10px;
}


.about{
    text-align: center;
    justify-content: center;
    font-weight: 700;
    margin-top: 50px;
}
.tk{
    text-align: center;
    justify-content: center;
    padding: 50-px;
    
    
}




.much{
    padding: 21px;
    margin-bottom: 50px;
}
.red{
    padding: 21px;
    color: rgb(198, 31, 31);
    box-shadow: 10px 0px 14px rgb(22, 21, 21);
    border-radius: 2px;
}
.other{
    margin-bottom: 10px;

}
.plan{
    margin-top: 50px;
}
.item2{
    display: flex;
    margin-left: 20;
    margin-right: 20px;
    margin-bottom: 20px;
}

.item3{
    box-shadow: 10px 10px 16px gray;
    margin-left: 25px;
    margin-right: 25px;
    background-color: #FFF0F5;
    border-radius: 5px;
}
.item4 img{
    background-position: left;
}
   .item4{

    box-shadow: 10px 10px 16px gray;
    margin-left: 25px;
    margin-right: 25px;
    background-color:#FFE4B5 ;
    border-radius: 5px;
}
.item5{

    box-shadow: 10px 10px 16px gray;
    margin-left: 25px;
    margin-right: 25px;
    background-color:#E0FFFF;
    border-radius: 2px;
}
.m{
    display: flex;
}
.item8 img{
    height: 300px;
    width: 400px;
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 100px;
}
.item7{
   font-family :-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin-top: 103px;
    margin-bottom: 30px; 
    font-size: 15px;
    margin-left: 5px;
   
    border-radius: 5px;

    
}
.item9{
    display: flex;
}
.item10 img{

    height: 300px;
    width: 400px;
    margin-top: 192px;
    margin-bottom: 30px;
    margin-left
}
.item11{
    font-family :-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin-top: 153px;
    margin-bottom: 30px; 
    font-size: 19px;
    margin-left: 112px;
    
    border-radius: 5px;

;

}

.part1{
color: rgb(60, 61, 59);
  font-family: cursive;
    font-size: 26px;
    font-weight: 700;
    padding: 100px;

}
.part2{
    box-shadow: 25px 25px 30px gray;
    display: inline-block;
    margin-bottom: 150px;
    border-radius: 5px;
    background-color: antiquewhite;
}
footer h1{
    color: tomato;
    background-color: black;
    margin-bottom: -68px;
}
